{% extends "base.html" %}
{% load static %}

{% block title %}
All My posts
{% endblock %}

{% block css_file %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
    <link rel="stylesheet" href="{% static "blog/all_posts.css" %}" />
{% endblock%}

{% block content%}
    <section id="all-posts">
        <h2>My Collected Posts</h2>

        <ul>
             {% comment %} <li> 
                <article>
                </article>
            </li>  include just post only like below{% endcomment %}
             {% for post in whole_posts %}
                {% include "blog/includes/post.html" %}
            {% endfor %}

            {% comment %} {% comment %} {% include "blog/includes/post.html" %} {% endcomment %}
            {% comment %} {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}
            {% include "blog/includes/post.html" %}  {% endcomment %}
        </ul>
    </section>
{% endblock %}